#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
  transition-duration: 500ms;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 500ms;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
@keyframes expandWidth {
  from { width: 0%; }
}
.progress-bar{
  animation: expandWidth 8s;
}

.warna-custom-background {
  background-color: #f55;
}

.antiLinkBerubah a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.judul {
  font-size: 35px;
}

.gaya-ikon {
  opacity: 0.3;
  letter-spacing: 3px;
}

.kastem-background-404 {
  background-image: url("https://gabrielkheisa.github.io/img/arduino-404.png");
  opacity: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kastem-background-vvle {
  background-image: url("https://gabrielkheisa.github.io/img/vvle.png");
  opacity: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kastem-background-nodemcu {
  background-image: url("https://gabrielkheisa.github.io/img/nodemcu.png");
  opacity: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div_tengah {
  margin: auto;
  width: 50%;
  padding: 10px;
}